h1 {
background-color: aquamarine;
border-radius: 20px  solid red;
color: rgba(18, 18, 73, 0.459);
text-align: center;
}
strong {
    color: purple;
}
h2 {
    color: green;
}
h3 {
    color: green;
    background-color: yellow;
    text-align: center;
}
h4 {
    color: green;
}
button {
    color: white;
    background-color: rgb(20, 87, 87);
}
.GREEN {
    background-color: green;
    color: white;
}
.BLUE {
    background-color: blue;
    color: white;
}
.BLACK {
    background-color: black;
    color: white;
}
.RED {
    background-color: red;
    color: white;
}